.plastic/
.vs/
.idea/

[lL]ogs/
[tT]mp/
[tT]emp/
.tmp/
[oO]bj/
[bB]in/
Publish/
dist/

**/*.csproj.user
TestResults/

# binary
*.png
*.jpg
*.jpeg
*.tga
*.psd
*.mp4
*.mov
*.mp3
*.wav
*.ogg
*.fbx
*.obj
*.exe
*.dll
*.p7s
*.nuspec
*.nupkg
